.amyimage
{
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
.aimage-container{
    width: 90%;
    height: 70%;
    margin-left: 5%;
    margin-bottom: 10%;
}
.aimage-board{
    background-color:  rgba(191, 190, 182);
    border: 1px solid rgba(0, 0, 0);
    border-radius: 20px;
    max-height: 700px;
}
.aimage-name-container{
    width: 100%;
    align-items: center;
    margin-bottom:0;
}
.aimage-title{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 3%;
}
.aimage-delete-button-container{
    display: flex;
    justify-content: center;
}